version: "3.9"

services:
  api:
    build: .
    command: uvicorn sales_agent.sales_api.main:app --host 0.0.0.0 --port 8000
    env_file:
      - .env
    ports:
      - "8000:8000"
    restart: always

  bot:
    build: .
    command: python -m sales_agent.sales_bot.bot
    env_file:
      - .env
    restart: always
